@mixin Montserrat {
    font-family: 'Montserrat', sans-serif;
}
@mixin Nunito {
    font-family: 'Nunito Sans', sans-serif;
}
@mixin Oceanic {
    color: #10c9c3;
}
@mixin white {
    color:#fff ;
}
@mixin gray {
    color:#838383 ;
}
@mixin light-gray {
    color:#ddd ;
}