@import 'mixins.scss', 'reset.scss';

@font-face {
  font-family: 'Raccosetta';
  src: url(../../files/fonts/Raccosetta.ttf) format('truetype');
}

@font-face {
  font-family: 'Gallient';
  src: url(../../files/fonts/Gallient.ttf) format('truetype');
}

@font-face {
  font-family: 'Major';
  src: url(../../files/fonts/Major.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url(../../files/fonts/Montserrat.ttf) format('truetype');
}

@font-face {
  font-family: 'Azeret Italic';
  src: url(../../files/fonts/Azeret-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Azeret';
  src: url(../../files/fonts/Azeret.ttf) format('truetype');
}

@font-face {
  font-family: 'Chequers';
  src: url(../../files/fonts/Chequers.otf) format('opentype');
}

@font-face {
  font-family: 'Beauty';
  src: url(../../files/fonts/Beauty.otf) format('opentype');
}

@font-face {
  font-family: 'Avenir';
  src: url(../../files/fonts/Avenir.otf) format('opentype');
}

// ========= variables =========

$black: #000;
$dark: #111;
$dark-lighter: #181818;
$white: #FFF;
$error: #FE3847;

$text-dark-gray: #3D3D3D;

// =============================
html {
  overflow-x: hidden;
  width: auto;
  font-family: 'Montserrat', sans-serif;
}

html, button, a, input, textarea {
  cursor: none;

}

.wrapper {
  background-color: $dark;
  color: white;
  min-height: 100vh;
  height: 100%;

  header {
    margin: 50px 0;
    position: absolute;
    top: 0;

    .logo {
      transition: .3s;

      path {

        transition: .3s;
      }

      &:hover {

        // fill: url(#logo-gradient);
        path {
          transition: .3s;
          fill: url(#logo-gradient);

        }
      }
    }
  }

  main {
    .intro {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .font-container {
        display: flex;
        margin-top: 60px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 128px;
        line-height: 128px;
        color: $dark;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        // text-shadow: inset -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        user-select: none;

        &-1 {
          justify-content: left;
          font-family: 'Gallient';
        }

        &-2 {
          justify-content: center;
          font-family: 'Chequers';
          line-height: 141px;
        }

        &-3 {
          justify-content: right;
          font-family: 'Raccosetta';
        }

        .item {
          transition: .5s;

          &:hover {
            color: white;
            text-shadow: none;
          }
        }

        &:first-child {
          margin-top: 0;
        }


      }
    }
    .string-1 {
      .info {

        margin-left: 350px;
      }
    }
    .string-1,
    .string-2 {
      position: absolute;
      max-width: 100vw;
      width: 100%;
      display: flex;
      align-content: center;
      box-sizing: border-box;
      overflow: hidden;
      background-color: $dark-lighter;

      .info {
        float: left;
        padding: 25px 180px 25px 30px;
        display: flex;
        flex-wrap: nowrap;

        span {
          // font-family: ;
          // font-family: 'Avenir';
          font-style: normal;
          font-weight: 500;
          font-size: 54px;
          line-height: 87px;
          text-transform: lowercase;
          user-select: none;
          color: $text-dark-gray;
          margin-right: 180px;
          position: relative;
          white-space: nowrap;

          &:last-child {
            margin-right: 0;
          }

          &::before {
            content: '';
            position: absolute;
            width: 60px;
            height: 3px;
            background-color: $text-dark-gray;
            top: 50%;
            left: -120px;
            // transform: translateY(-50%);
          }
        }

        .active-1 {
          background: linear-gradient(-120deg, #F857A6, #FF5858) !important;
          background-clip: text !important;
          color: transparent !important;
          animation: gradient 10s ease infinite;
        }

        .active-2 {
          background: linear-gradient(90deg, #A733FF, #4683FF) !important;
          background-clip: text !important;
          color: transparent !important;
          animation: gradient 10s ease infinite;
        }

        .active-3 {
          background: linear-gradient(91.66deg, #B3FFAB 0.65%, #12FFF7 99.8%) !important;
          background-clip: text !important;
          color: transparent !important;
          animation: gradient 10s ease infinite;
        }
      }
    }

    .plusses {
      margin-top: 137px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      // margin-bottom: calc(400px - 137px);
      h2 {
        text-align: center;
        font-family: 'Beauty';
        font-size: 52px;
        font-weight: 400;
        line-height: 70px;
        width: auto;
        text-align: center;
        margin-bottom: 60px;
      }
      .logo-wrapper {
        justify-self: center;
        // border: 1px solid #FFFFFF;
        border-radius: 50%;
        width: 530px;
        height: 530px;
        position: relative;

        // display: flex;
        // justify-content: center;
        // align-items: center;
        .logo {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        #circle {
          position: absolute;
          top: 0;
          width: 530px;
          height: 530px;
          // animation: spin 1.2s linear infinite repeat;
          animation: spin 20s linear forwards infinite;
          // transform: translate(50%, -50%);
          overflow: hidden;

          #letter-wrapper {
            position: absolute;
            top: 25px;
            left: 50%;
            height: 100%;
            width: 100%;

            .letter {
              font-family: 'Azeret';
              font-weight: 100;
              font-size: 30px;
              font-weight: 400;
              line-height: 33px;
              text-align: center;
              text-align: center;
              // width: 30px;
              position: absolute;
              user-select: none;
              transition: 2s;
              animation: letter linear;
              animation-duration:  1s;
              &-active {
                transition: 0s;
                animation: none;
                animation-duration:  0s;
                color: white !important;
              }
            }
          }
        }
        .circle-vertical {
          position: absolute;
          width: 530px;
          height: 530px;
          // left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          animation: spin 18s linear infinite;

          .inside {
            width: 260px;
            height: 530px;
            top: 50%;
            border: 1px solid #FFFFFF;
            border-radius: 50%;

          }
        }

        .circle-horizontal {
          position: absolute;
          width: 530px;
          height: 530px;
          // left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          animation: spin 12s linear infinite;

          .inside {
            width: 530px;
            height: 260px;
            top: 50%;
            border: 1px solid #FFFFFF;
            border-radius: 50%;

          }
        }

        .plus {
          position: absolute;
          font-family: Beauty;
          font-size: 30px;
          font-weight: 400;
          line-height: 33px;
          letter-spacing: 0em;
          text-align: center;
          white-space: nowrap;
          z-index: 2;
          user-select: none;
          box-sizing: content-box;

          &-1 {
            right: 610px;
            top: 70px;

            &::before {
              border: 1px solid #fff;
              content: '';
              width: 205px; //125
              height: 53px; //33
              position: absolute;
              border-radius: 100%;
              top: -13px;
              left: -43px;
              color: white;
              transition: .8s;
              z-index: 1;
            }

            &:hover::before {
              transform: rotate(25deg);
            }
          }

          &-2 {
            right: 680px;
            top: 50%;
            transform: translateY(-50%);

            &::before {
              border: 1px solid #fff;
              content: '';
              width: 340px; //125
              height: 73px; //33
              position: absolute;
              border-radius: 100%;
              top: -23px;
              left: -43px;
              color: white;
              z-index: 1;
              transition: .8s;
            }

            &:hover::before {
              transform: rotate(-20deg);
            }
          }

          &-3 {
            right: 610px;
            bottom: 57px;
          }

          &-4 {
            left: 610px;
            top: 70px;

            &::before {
              border: 1px solid #fff;
              content: '';
              width: 300px; //125
              height: 53px; //33
              position: absolute;
              border-radius: 100%;
              top: -13px;
              left: -43px;
              color: white;
              z-index: 1;
              transition: .8s;
            }

            &:hover::before {
              transform: rotate(15deg);
            }
          }

          &-5 {
            left: 680px;
            top: 50%;
            transform: translateY(-50%);

            &::before {
              border: 1px solid #fff;
              content: '';
              width: 260px; //125
              height: 53px; //33
              position: absolute;
              border-radius: 100%;
              top: -13px;
              left: -43px;
              color: white;
              z-index: 1;
              transition: .8s;
            }

            &:hover::before {
              transform: rotate(15deg);
            }
          }

          &-6 {
            left: 610px;
            bottom: 57px;

            &::before {
              border: 1px solid #fff;
              content: '';
              width: 170px; //125
              height: 53px; //33
              position: absolute;
              border-radius: 100%;
              top: -13px;
              left: -43px;
              color: white;
              z-index: 1;
              transition: .8s;
            }

            &:hover::before {
              transform: rotate(-50deg);
            }
          }

        }
      }

    }

    .cases {
      margin-top: 137px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      padding: 120px 0;
      .top {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        h2 {
          font-family: 'Beauty';
          font-size: 52px;
          font-weight: 400;
          line-height: 70px;
          width: auto;
          text-align: center;
          margin-bottom: 10px;
        }
        .sort {
          display: flex;
          justify-content: center;
          gap: 15px;
          &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #3D3D3D;
            padding: 10px 25px;
            font-size: 24px;
            color: white;
            border-radius: 28px;
            user-select: none;            
            // &-1 {
            //   font-family: 'Gallient';
            //   font-style: normal;
            // }
            // &-2 {
            //   font-family: 'Chequers';
            //   font-style: normal;
            //   // font-size: 28px;
            // }
            // &-3 {
            //   font-family: 'Raccosetta';
            //   font-style: normal;
            //   padding: 10px 25px 0px 25px;
            //   text-shadow: solid white 0.2px;
            // }
          }
        }
      }
      .cases-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 400px;
        gap: 10px;
        .case {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          &-1 {
            grid-row-start: 1;
            grid-row-end: 3;
          }
        }
      }

    }

    .form-wrapper {
      margin-top: 240px;
      width: 100%;
      position: relative;
      .decor {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        border: 1px solid white;
        width: 2100px;
        height: 750px;
        z-index: 0;
        border-radius: 50%;
        transform: translate3d(-50%, -50%, 0) rotate(-8deg);
        // transform: rotate(45deg);
      }
      .form-section {
        background: $dark-lighter;
        border-radius: 40px;
        z-index: 2;
        width: 100%;
        padding: 60px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        position: relative;
        .info {
          z-index: 30;
          width: 100%;
          margin-right: 50px;

          .heading {
            font-family: Beauty;
            font-size: 72px;
            font-weight: 400;
            line-height: 70px;
            letter-spacing: 0em;
            text-align: left;
            display: flex;
            gap: 15px;
            flex-direction: column;
            div {
              white-space: nowrap;
            }

            @media (min-width: 1370) {
              font-size: 50px;
            }

            span {
              // color: linear-gradient(91.66deg, # 0.65%, #FF5858 99.8%);
              // background: -webkit-linear-gradient(90deg, #F857A6, #FF5858);
              background: linear-gradient(-120deg, #F857A6, #FF5858, #F857A6, #FF5858);
              background-size: 200% 200%;
              background-clip: text;
              animation: gradient 10s ease infinite;
              -webkit-text-fill-color: transparent;
              position: relative;

              &::selection {
                background: white;
                color: #F857A6;
                background-clip: border-box;
              }
            }
          }
          .description {
            margin-top: 20px;
            width: 100%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: rgb(187, 187, 187);
          }
          
        }

        form {
          width: 100%;
          max-width: 550px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-family: Avenir;

          .input {
            width: 100%;
            box-sizing: border-box;
            background: #2B2B2B;
            border-radius: 10px;
            padding: 18px 25px;
            outline: none;
            border: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            margin-bottom: 20px;
            color: white;
            transition: .3s;
            &:focus {
              box-shadow: 0px 0px 0px 2px $dark-lighter, 0px 0px 0px 5px rgba(255, 255, 255, 0.6);
              color: white;
            }
            
            &:last-child {
              margin: 0;
            }
            
            &::placeholder {
              color: #878787;
            }
          }
          ._error {
            color: $error;
            box-shadow: 0px 0px 0px 2px $dark-lighter, 0px 0px 0px 4px $error;
            &::placeholder {
              color: $error;
            }
          }

          textarea {
            display: flex;
            color: white;
            resize: none;
            overflow-y: scroll;
            overflow-x: hidden;
            // max-height: 180px;
            transition: .3s;

            &::-webkit-scrollbar {
              width: 0px;
            }

            &:focus {
              color: white;
            }
          }

          .button {
            background: #FFFFFF;
            border-radius: 10px;
            padding: 15px 35px;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 33px;
            color: #111;
            border: none;
            transition: 1s;
            position: relative;
            font-family: 'Montserrat';
            &:hover {
              transition: 1s;
              background: #FF1A94;
              // background: #F857A6;
              background-size: 200% 200%;
              // background-clip: text;
              animation: gradient 10s ease infinite;
              color: white;
              // box-shadow: 0px 0px 0px 2px #111111, 0px 0px 0px 5px #F857A6;
            }

          }
          .policy {
            color: #3f3f3f;
            line-height: 130%;
            text-align: center;
            font-weight: 500;
            margin-top: 20px;
            span {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  footer {
    margin-top: 200px;
    z-index: 200;
    background-color: $dark-lighter;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    padding: 60px;
    box-sizing: border-box;
  }
}

.content {
  margin: 0 auto;
  max-width: 1770px;
  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
}

// .swal2-popup {
//   width: auto !important;
//   button {
//     display: none;
//   }
// }

.popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px 0;
  height: auto;

  &-hidden {
    opacity: 0;
    display: none;
  }

  img {
    max-width: 100%;
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
  }
}

.wrapper-fixed {
  position: fixed;
  overflow-y: scroll;
  // width: 100wv;
  // top: 0;
  // left: 50%;
  // transform: translateX(-50%);
}

.swal2-popup {
  margin: 90px 120px !important;
  padding: 0 !important;
  padding-bottom: 0 !important;
  width: auto !important;

  * {
    display: none !important;
  }

  button {
    display: none !important;
  }

  img {
    display: block !important;
    margin: 0 !important;
  }
}

.swal2-show {
  animation: popup 0.3s !important;
}



// ========= selection =========


::-moz-selection {
  /* Code for Firefox */
  color: $dark;
  background: white;
}

::selection {
  color: $dark;
  background: white;
}


// ========= scroll =========


::-webkit-scrollbar {
  width: 10px;
  box-sizing: border-box;
  background-color: $dark;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark;
  padding: 0 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $text-dark-gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-dark-gray;
}


// ========= cursor =========


.cursor {
  z-index: 9999999;
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: white;
  // opacity: .6;
  transition: .3s;
  transition-property: background-image;
  transform: translate(-50%, -50%);
  // mix-blend-mode:hard-light;
  mix-blend-mode: difference;

  // mix-blend-mode:color;
  &-hover {
    opacity: 1;
    transition: 0s;
    transition-property: background-color, background-image;
    background-color: transparent;
    // transition-property: opacity, height, width, border-radius, background-image;
    background: center no-repeat;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

  &-hover-link {
    background-image: url("../../img/link.svg");
  }

  &-hover-unique {
    background-image: url("../../img/unique.svg");
  }

  &-hover-user-friendly {
    background-image: url("../../img/user-friendly.svg");
  }

  &-hover-inspiring {
    background-image: url("../../img/inspiring.svg")
  }

  &-hover-response {
    background-image: url("../../img/response.svg");
  }

  &-hover-beautiful {
    background-image: url("../../img/beautiful.svg");
  }

  &-hover-fast {
    background-image: url("../../img/fast.svg");
  }
  &-hover-mail {
    background-image: url("../../img/mail.svg");
    mix-blend-mode: normal;
  }
  &-hover-pointer {
    background-image: url("../../img/pointer.svg");
    mix-blend-mode: normal;
  }
  &-hover-edit {
    background-image: url("../../img/edit.svg");
  }

  &-hover-link,
  &-hover-unique,
  &-hover-user-friendly,
  &-hover-inspiring,
  &-hover-response,
  &-hover-beautiful,
  &-hover-fast,
  &-hover-edit,
  &-nomix {
    mix-blend-mode: normal;
  }
}

.cursor.click {
  animation: click 1.2s ease forwards;
  background-color: rgb(255, 255, 255);
  transition-property: opacity, height, width, border-radius;
}

// .hover-this:hover ~ .cursor {
//   transform:translate(-50%, -50%) scale(8);
// }



// ========== ===========
@keyframes click {
  0% {
    opacity: .5;
    transform: translate(-50%, -50%) scale(1);
  }

  70% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }

  71% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: .6;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes letter {
  from {
    color: transparent;
  }

  to {
    color: #fff;
  }
}

@keyframes popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}